bokeh==3.7.3
coverage==7.9.0
crispy-bootstrap4==2025.6
Django==5.1.14
django_celery_results==2.6.0
django-bootstrap4==25.2
django-celery-beat==2.8.1
django-filter==25.1
django-silk==5.4.3
django-tables2==2.7.5
djangorestframework==3.16.1
django-cors-headers==4.6.0
flower==2.0.1
gunicorn==23.0.0
mozilla-django-oidc==4.0.1
pydantic==2.5.0
pydantic-settings==2.1.0
psycopg2-binary==2.9.11
redis==7.0.1
torch==2.9.0
torchvision==0.24.0
watchdog==6.0.0
